@import "../../config/mixins.scss";
.monthly-wise-card{
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    .icons{
        width: 50%;
        .round{
            background-color: rgba(214, 0, 0, 0.2);
            width: 100px;
            height: 100px;
            border-radius: 70%;
            @include center-componet;
            font-size: 40px;
            .icon{
                font-size: 50px
            }
        }
    }

    .details{
        @include center-componet;
        flex-direction: column;
        align-items: flex-start;
        min-width: 50%;
        .name{
            @include text-content;
            color: gray;
            margin-left: 6px
        }
        .value{
            @include center-componet;
        }
        .hike{
            @include center-componet;
            font-size: 12px;
        }
    }
    &:hover{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.123);
        cursor: pointer;
    }
}