@import '../config/variables.scss';
@import '../config/mixins.scss';

.dashboard {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: $dashboard-bg-color;

    .side-panel {
        width: 20%;
        background-color: $dashboard-sidebar-background;
        color: $dashboard-sidebar-text-color;
        padding: 0 10px;

        .dashboard-head {
            @include center-componet;
            justify-content: flex-start;
            padding: 50px 20px;
            height: 5vh;

            .head {
                min-width: 80%;
                display: flex;
                gap: 20px;
                @include text-title;
            }
        }

        .dashboard-head,
        .options {
            min-width: 100%;
        }

        .options {
            height: 60vh;
        }

        .user-details {
            padding: 50px 20px;
            font-size: 12px;

            .user-profile {
                background-color: #ffffff38;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left-side {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .profile {

                        img {
                            width: 40px;
                            border-radius: 50%;
                        }
                    }

                    .description {
                        opacity: 0.6;
                    }
                }

                .right-side {
                    cursor: pointer;
                }
            }
        }
    }

    .dashboard-details {
        width: 80%;

        .dashboard-container {
            padding: 50px;

            .welcome-message {
                @include text-title;
                min-width: 100%;
            }

            .monthly-details {
                display: grid;
                grid-template-columns: repeat(4, 22%);
                justify-content: space-between;
                margin-top: 50px;
            }

            .graph {
                display: flex;
                gap: 10px;
                .line-graph {
                    width: 70%;
                    background-color: #fff;
                }


                .pie-graph {
                    width: 30%;
                    background-color: #fff;
                }
            }
        }
    }
}