$dashboard-sidebar-background: #00155a;
$dashboard-sidebar-text-color: #ffffff;
$dashboard-options-hover-color:rgba(255, 255, 255, 0.141);
$dashboard-bg-color:rgba(224, 224, 224, 0.485);
$dashboard-card-bg:white;
$title-font:arial